.accordion {
	// scss-docs-start accordion-css-vars
	--#{$prefix}accordion-color: #{$bs-body-color};
	--#{$prefix}accordion-bg: transparent;
	--#{$prefix}accordion-transition: #{$accordion-transition};
	--#{$prefix}accordion-border-color: transparent;
	--#{$prefix}accordion-border-width: 0;
	--#{$prefix}accordion-border-radius: 0;
	--#{$prefix}accordion-inner-border-radius: 0;
	--#{$prefix}accordion-btn-padding-x: 1.5rem;
	--#{$prefix}accordion-btn-padding-y: 1rem;
	--#{$prefix}accordion-btn-color: #{$bs-heading-color};
	--#{$prefix}accordion-btn-bg: transparent;
	/* PLUS icon */
	--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 25' fill='none'%3e%3cpath d='M19 13.2305H13V19.2305H11V13.2305H5V11.2305H11V5.23047H13V11.2305H19V13.2305Z' fill='%230D0D0B'/%3e%3c/svg%3e");
	/* MINUS icon */
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3e%3cpath d='M19 13H5V11H19V13Z' fill='%230D0D0B'/%3e%3c/svg%3e");
	--#{$prefix}accordion-btn-icon-width: #{$bs-h4-font-size};
	--#{$prefix}accordion-btn-icon-transform: #{$accordion-icon-transform};
	--#{$prefix}accordion-btn-icon-transition: #{$accordion-icon-transition};
	--#{$prefix}accordion-btn-focus-border-color: #{$accordion-button-focus-border-color};
	--#{$prefix}accordion-btn-focus-box-shadow: none;
	--#{$prefix}accordion-body-padding-x: 1.5rem;
	--#{$prefix}accordion-body-padding-y: 1.5rem;
	--#{$prefix}accordion-active-color: #{$bs-heading-color};
	--#{$prefix}accordion-active-bg: transparent;
	// scss-docs-end accordion-css-vars

	.accordion-item {
		border: none;
		margin-top: 16px;
		font-family: $bs-body-font-family;
		@include media-breakpoint-up(lg) {
			margin-top: 24px;
		}

		.accordion-button , {
			font-weight: 700;
			font-size: $bs-body-font-size;
			border: 2px solid $bs-border-color;
			background: $bs-secondary;
			font-family: $bs-body-font-family;
			border-radius: $bs-border-radius-lg;
			&:focus {
				border-radius: $bs-border-radius-lg;
				border: 2px solid $bs-border-color;
			}
		}

		.accordion-content {
			padding-top: 0;
			font-family: $bs-body-font-family;
		}
	}
}




