.about-list {
	list-style: none;
	padding-left: 0;

	li {
		position: relative;
		padding-left: 2rem;
		margin-bottom: 0.5rem;
		&::before {
			content: '';
			position: absolute;
			left: 0px;
			top: 40%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			background-image: url('../../assets/images/check.svg');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

.about-us-vision {
	background: linear-gradient(
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.8)
	), url('../../assets/images/bg-quote.jpg');
	background-repeat: no-repeat;
	background-position: center;
	padding: 1rem 0;
	@include media-breakpoint-up(md) {
		background-size: cover;
		padding: 6rem 0;
	}
}
