.single-post {

	.entry-image {
		img {
			width: 100%;
			height: auto;
			border-radius: $bs-border-radius-lg;
			@include up(lg) {
				width: auto !important;
				height: 500px;
				object-fit: cover;
			}
		}
	}
	.entry-content {
		max-width: 1080px;
		margin: auto;

		h2 {
			font-size: $bs-h3-font-size;
		}

		h3 {
			font-size: $bs-h4-font-size;
		}

		h4 {
			font-size: $bs-h5-font-size;
		}
	}
}
