.contact-us-content {
	position: relative;
	padding-bottom: 25vh;
	@include media-breakpoint-up(lg) {
		padding-bottom: 50vh;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 197px;
		background:  url('../../assets/images/bg-shop-btm.png') no-repeat center bottom;
		background-size: cover;
		pointer-events: none;
		z-index: -1;

		@include media-breakpoint-up(lg) {
			height: 430px;
			background:  url('../../assets/images/background-bottom-shop.png') no-repeat center bottom;
		}
	}
	.widget-area#left-sidebar {

		@include media-breakpoint-up(lg) {
			margin-bottom: 18%;
		}
	}
}
