body.page-template:has(.different-location-dk) {
	padding-top: 0!important;
	margint-top: 0!important;
	.page-header {
		padding: 3rem 0;
		//background-image:
		//	linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,1) 60%),
		//	url('https://yourdomain.com/wp-content/uploads/cloud-bg.jpg');
		background: transparent;
		//background-size: cover;
		//background-position: center;
		//background-repeat: no-repeat;
		//@include media-breakpoint-up(md) {
		//	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 99.4%), url(../../assets/images/bg-locations-pc.jpg);
		//}
	}

}
.page-locations {

	.page-content-wrapper:has(.different-location-dk) {
		background-image: url(../../assets/images/locations-mb.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: -1rem;
		@include up(md) {
			background-image: url(../../assets/images/locations-pc.png);
			background-position: bottom center;
		}
		.page-header {
			.breadcrumbs  {
				a, span {
					color: $bs-white;
					&:hover {
						color: $bs-white;
					}
				}
			}
			.page-title  h1{
				color: $bs-white;
			}
		}
		> .container {
			padding-top: 0!important;
			padding-bottom: 0!important;
			@include up(md) {
				padding-top: 0!important;
				padding-bottom: 0!important;
			}
		}
	}
}
.different-location-dk {
	.container {
		.row {
			.col {
				.card {
					// scss-docs-start card-css-vars
					--#{$prefix}card-spacer-y: 1.5rem;
					--#{$prefix}card-spacer-x: 1.5rem;
					--#{$prefix}card-title-spacer-y: 1rem;
					--#{$prefix}card-border-width: 3px;
					--#{$prefix}card-border-color: #{$bs-border-color};
					--#{$prefix}card-box-shadow: none;
					--#{$prefix}card-inner-border-radius: 0;
					--#{$prefix}card-cap-padding-y: 1.5rem;
					--#{$prefix}card-cap-padding-x: 1.5rem;
					--#{$prefix}card-cap-bg: transprarent;
					--#{$prefix}card-cap-color: #{$bs-heading-color};
					--#{$prefix}card-height: #{$card-height};
					--#{$prefix}card-color: #{$bs-body-color};
					--#{$prefix}card-bg: transprarent;
					--#{$prefix}card-img-overlay-padding: #{$card-img-overlay-padding};
					--#{$prefix}card-group-margin: #{$card-group-margin};
					// scss-docs-end card-css-vars
					& {
						//background-image: url(../images/blog-card-bg.png)!important;
						//background-position-x: 50%;
						//background-position-y: center;
						//background-size: cover;
						//background-repeat: no-repeat;
						//border-radius: $bs-border-radius-xl;
						//border: solid 1.5px $bs-primary!important;
					}

					.card-title {
						color: $bs-primary;
					}
					.card-header {
						padding-bottom: 0;
						border-bottom: 0;
						background-color: transparent;
					}
					.btn-outline-primary {
						color: $bs-primary;
						border: solid 1.5px $bs-primary;
						color: $bs-primary;
						background-color: transparent;
						border-color: $bs-primary;
						background-image: none!important;
						&:hover {
							color: $bs-white;
							background-color: $bs-primary;
						}
					}
					.store-hours {
						padding-top: 0.5rem;
						border-top: solid 1px $bs-grey;
					}
					li.border-bottom {
						border-bottom: none!important;
					}
					.btn-open {
						background: $bs-success;
						border-radius: 8px;
						text-decoration: none;
						min-width: auto;
						padding: 0.25rem 0.5rem;
						//@include media-breakpoint-up(sm) {
						//	padding: 0.5rem 1rem;
						//}

					}
				}
			}
		}
	}
}
