#locations-modal.bs-location-selector--map-style {
	background-image: url('../../assets/images/agegate-bg-mb.jpg');
	@include up(md) {
		background-image: url('../../assets/images/agegate-bg.png');
	}
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.bs-modal__wrapper {
		max-width: 1081px;
		padding: 0;
		 border: solid 4px $bs-brown;
		border-radius: $border-radius;
		@include up(md) {
			width: 75%;
		}
		.bs-modal__inner {
			@media screen and (min-width: 700px) and (max-width: 768px) {
				flex-direction: column-reverse;
				.bs-location-selector__content {
					width: 100%;
				}
			}
		}
		.bs-location-selector__content {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			.bs-location-selector__items {
				height: 100%;
				max-height: fit-content;
				overflow-y: auto;
				.bs-location-selector__item {
					padding: 0 0;
					margin-bottom: 0;
					@include up(md) {
						margin-bottom: 0;
						padding: 0 1rem;
					}
					@include up(xl) {
						margin-bottom: 1rem;
					}
					.bs-location-selector__item-title {
						display: flex;
					}
					.bs-location-selector__item-radio {
						accent-color: $bs-dark!important;
					}
				}
			}
			.bs-location-selector__footer {
				padding: 0 0 0 0;
				@include up(md) {
					padding: 0 1rem;
				}
				.bs-location-selector__button {
					@include btn-primary;
					width: 100%;
					max-width: 100%;
					line-height: 2;
				}
			}
		}
		.bs-location-selector__left {
			border-bottom: solid 4px $bs-brown;
			@include up(md) {
				border-bottom: none;
				border-right: solid 4px $bs-brown;
			}
			width: 100%;
			@include up(md) {
				max-width: 50%;
				height: -webkit-fill-available;
			}
			#bs-location-left-image {
				display: block;
				height: 100%;
				.bs-location-selector__left-image {
					width: 100%;
					height: 100%;
					object-fit: cover;
					display: block;
				}
			}

		}
	}
	/* Header */
	.bs-location-selector__logo {
		display: block;

		width: 173px;

		height: 70px;
		background-image:  url('../../assets/images/brand-logo-mb.png');
		@include up(md) {
			background-image:  url('../../assets/images/brand-logo.png');
			width: 234px;
			height: 94.78px;
			width: 189px;
		}

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin: 0 auto;
		img {
			opacity: 0;
			visibility: hidden;
		}
	}

	.bs-location-selector__title {
		font-size: $bs-h3-font-size;
	}
	.bs-location-selector__store-heading {

	}
	/* Items */
	.bs-location-selector__items {
	}

}

/* Loader */
.bs-loader__spinner {
	width: 40px;
	height: 40px;
	border: 6px solid $bs-white;
	border-top: 6px solid $bs-primary;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
body:has(#locations-modal.active) {
	overflow: hidden;
}
