// Footer Wrapper
#site-footer {
	color: $bs-white;
	position: relative;
	background: url('../../assets/images/footer-bg.png') center/cover no-repeat #452D2580;
	z-index: 1;

	a {
		text-decoration: none;
		color: #fff;

		&:hover {
			text-decoration: underline;
			color: #ccc;
		}
	}
	.mini-footer-logo {
		border-bottom: solid 1px $bs-grey-light;
	}
	.wrapper-logo-footer {
		.footer-logo {
			@include media-breakpoint-down(lg) {
				margin: auto;
			}
			img {
				max-width: 197.6px;
			}
			margin-bottom: 1rem;
		}
	}

	.wrapper-logo-auth {
		img {
			//max-width: 90%;
			@media (min-width: 1600px) {
				//max-width: 75%;
			}
		}
	}

	.footer-navs-wrap {
		//padding-top: 3rem;
		//padding-bottom: 3rem;
		border-bottom: none;
		h6 {
			font-size: 1rem;
			font-weight: 600;
			margin-bottom: 1rem;
			//text-transform: uppercase;
		}

		.ft-title {
			font-weight: 700;
			// display: flex;
			// align-items: center;
			font-family: Prestige Elite Std;
			margin: 0;
			// padding-right: 10px;
			white-space: nowrap;
			color: $bs-white;
			opacity: 75%;
			// &::after {
			// 	flex: 1;
			// 	height: 2px;
			// 	margin-left: 10px;
			// 	content: "";
			// 	//opacity: 0.6;
			// 	border-radius: 1px;
			// 	background-color: $pink;
			// }
		}
		.location-item {
			.location-item__name {
			}
			.text-grey {
				color: $bs-grey;
			}
		}

		.ft-title-no-line {
			&::after {
				display: none;
			}
		}

		ul {
			display: flex;
			align-items: flex-start;
			@include media-breakpoint-up(lg) {
				align-items: flex-start;
			}
			flex-direction: column;
			margin-bottom: 0;
			padding-left: 0;
			list-style: none;

			li {
				.menu-item-wrapper {
					display: flex;
				}
				margin-bottom: 0.5rem;
				text-align: start;
				//display: flex;
					@include media-breakpoint-up(lg) {
						text-align: start;
					}
				a {
					font-size: 1rem;
					display: inline-block;
					text-align: inherit;
					line-height: 2;
					opacity: 90%;
					&:hover {
						color: $tertiary; // Bootstrap primary
					}
				}
			}

		}
		.location-menu {
			li {
				position: relative;
				padding-left: 2rem;
				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 50%;
					width: 24px;
					height: 24px;
					transform: translateY(-50%);
					background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="20" viewBox="0 0 14 20" fill="none"><path d="M7 0C3.13 0 0 3.13 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 3.13 10.87 0 7 0ZM2 7C2 4.24 4.24 2 7 2C9.76 2 12 4.24 12 7C12 9.88 9.12 14.19 7 16.88C4.92 14.21 2 9.85 2 7Z" fill="white"/><path d="M7 9.5C8.38071 9.5 9.5 8.38071 9.5 7C9.5 5.61929 8.38071 4.5 7 4.5C5.61929 4.5 4.5 5.61929 4.5 7C4.5 8.38071 5.61929 9.5 7 9.5Z" fill="white"/></svg>')
					no-repeat center / contain;
				}
			}
		}
		.footer-social {
			ul {
				flex-direction: row;
				//@include media-breakpoint-up(lg) {
				//	text-align: start;
				//}
			}
		}
		.footer-menu .sub-menu {
			display: none;
			margin-top: 0.5rem;
			padding-left: 1rem;
		}

		.footer-menu .submenu-toggle {
			font-size: 0.9rem;
			margin-left: 0.5rem;
			cursor: pointer;
			color: inherit;
			border: none;
			background: none;
		}
		.divider{
			border-bottom: solid 1px $bs-white;
			position: relative;
			margin-top: 160px;
			@include up(sm)  {
				margin-top: 180px;
			}
			@include up(md)  {
				margin-top: 2rem;
			}
			&:after {
				position: absolute;
				bottom: 0rem;
				content: "";
				display: block;
				width: 100%;
				height: 193px;
				margin-top: 1rem;
				background: url(../../assets/images/thankyou.png) no-repeat center / contain;
				@include up(sm) {
					height:220px;
					bottom: 0;
					max-width: 669px;
					right: 0;
				}
			}
		}

	}

	.footer-bottom-wrap {
		//border-top: 1px solid #333;

		p {
			font-size: 0.85rem;
			margin-bottom: 0.25rem;
		}

		img {
			vertical-align: middle;
		}

		.footer-nav-social {
			ul {
				margin-bottom: 1rem;
				padding-left: 0;
				list-style: none;

				li {
					display: inline-block;
					margin: 0 0.75rem;

					a {
						font-size: 1.25rem;
						color: #fff;

						&:hover {
							color: #0d6efd;
						}

						i {
							vertical-align: middle;

							&:before {
								font-size: 40px;
							}
						}
					}
				}
			}
		}
	}

	// Responsive tweaks
	@media (max-width: 767.98px) {
		.footer-navs-wrap {
			text-align: center;

			.footer-logo {
				padding-bottom: 1rem;
				border-bottom : 1px solid $bs-white;
				img {
				}
			}
		}

		.footer-bottom-wrap {
			text-align: center;
		}
	}
	@include media-breakpoint-between(md, lg) {
		.image-content {
			width : 100%;
			p {
				text-align: center;
			}
		}
	}
 	@include media-breakpoint-up(lg) {
		.locations, .stores_hours {
			width: 24%;
		}
		.image-content {
			width : 21%;
		}
	}

	@include media-breakpoint-up(xl) {
		.home-about {
			width: 21%;
		}
		.shop {
			width: 20%;
		}
		.locations {
			width: 25%;
		}
		.stores_hours {
			width: 24%;
		}
		.image-content {
			width : 19%;
		}
	}
	.location-hours__block {
		.location-hours__row {
			line-height: 2;
		}
	}
}

.footer-newsletter {
	.wrap-btn-subscribe {
		@include media-breakpoint-down(md) {
		}
	}
	position: relative;
	background: $bs-primary-2;
	min-height: 242px;
	margin-top: 24px;
	@include media-breakpoint-up(md) {
		margin-top: 70px;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 20px;
		top: -20px;
		background: url('data:image/svg+xml,<svg width="375" height="19" viewBox="0 0 375 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0C7.21194 0 7.21194 6.04928 14.4226 6.04928C21.6332 6.04928 21.6345 0 28.8465 0C36.0584 0 36.0584 6.04928 43.269 6.04928C50.4797 6.04928 50.4797 0 57.6916 0C64.9035 0 64.9035 6.04928 72.1142 6.04928C79.3248 6.04928 79.3261 0 86.5381 0C93.75 0 93.7487 6.04928 100.961 6.04928C108.173 6.04928 108.171 0 115.383 0C122.595 0 122.595 6.04928 129.806 6.04928C137.016 6.04928 137.016 0 144.228 0C151.44 0 151.44 6.04928 158.651 6.04928C165.862 6.04928 165.863 0 173.075 0C180.287 0 180.287 6.04928 187.497 6.04928C194.708 6.04928 194.709 0 201.92 0C209.131 0 209.132 6.04928 216.344 6.04928C223.556 6.04928 223.555 0 230.766 0C237.978 0 237.978 6.04928 245.189 6.04928C252.4 6.04928 252.401 0 259.613 0C266.825 0 266.825 6.04928 274.037 6.04928C281.249 6.04928 281.249 0 288.461 0C295.673 0 295.673 6.04928 302.883 6.04928C310.094 6.04928 310.095 0 317.306 0C324.516 0 324.518 6.04928 331.728 6.04928C338.939 6.04928 338.94 0 346.152 0C353.364 0 353.364 6.04928 360.576 6.04928C367.788 6.04928 367.788 0 375 0V19H0V0Z" fill="%23D8CFB4"/></svg>') repeat-x center bottom;
		@include media-breakpoint-up(md) {
			height: 63px;
			top: -63px;
			background: url('../../assets/images/wave.png') no-repeat center / cover;
		}

	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: url('../../assets/images/field.png') no-repeat center 0% / cover;
		// opacity: 0.1;
	}
	.newsletter-bg {
		.mailman-img {
			position: relative;
			z-index: 1;
			display: block;
			width: clamp(187px, 25vw, 309px);
			height: auto;
			margin: 0 auto;
			@include media-breakpoint-up(lg) {
				margin-right: inherit;
				margin-bottom: -1rem;
			}

		}
	}
	.newsletter-form {
		z-index: 1;
		padding: 0 2rem;
		@include media-breakpoint-up(md) {
			padding-left: 5rem;
		}
		h2 {
			color: $bs-success;
			font-size: $bs-h2-font-size;
			line-height: $bs-heading-line-height;
		}
		.wpcf7 {
			margin-left: 0 !important;
		}
		form {
			input[type=submit] {
				max-height: 46px;
				line-height: 1.25;
			}
		}
	}
}
