.notice-bar {
	background: $bs-primary;
	color: $bs-white;
}
.header {
	//position: relative;
	background: $bs-dark;
	//z-index: 3;

	//&::before {
	//	content: "";
	//	position: absolute;
	//	inset: 0;
	//	background: url('../../assets/images/overlay-header.png') center/cover no-repeat;
	//	opacity: 0.1;
	//	z-index: -1;
	//}

	.header-top {
		min-height: 56px;

		.header-left {
			@include media-breakpoint-up(lg) { // >=992px
				gap: 16px;
			}
			.menu-wrapper {
				position: relative;
				display: inline-flex;
				align-items: center;
				.navbar-toggler {
					width: 70px;
				}
				.menu-toggle {
					display: inline-flex;
					align-items: center;
					gap: 8px;
					background: transparent;
					border: 0;
					padding: 0;
					.menu-text {
						font-size: 18px;
					}

				}
				/* =====================
			   Dropdown menu
			===================== */
				.menu-dropdown {
					position: absolute;
					top: 100%;
					left: 0;
					z-index: 1000;
					width: 520px;
					background: #fffbdc;
					border: 2px solid $bs-dark;
					background: $bs-primary;
					padding: 24px 32px;

					/* hidden */
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
					transform: translateY(10px);

					transition:
						opacity 0.25s ease,
						transform 0.25s ease,
						visibility 0s linear 0.25s;

					#main-menu {
						li.menu-item {
							a:hover {
								color: $bs-primary-2;
							}
						}
						ul.sub-menu {
							position: unset;
							li.menu-item {
								a {
									padding-left: 0;
									&:hover {
										background: $bs-primary;
										color: $bs-primary-2;
									}
								}
							}
						}
					}
				}

			}



			.menu-wrapper:hover .menu-dropdown,
			.menu-wrapper:focus-within .menu-dropdown {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
				transform: translateY(0);

				transition:
					opacity 0.25s ease,
					transform 0.25s ease,
					visibility 0s;
				#main-menu a[href*="onsale"] {
					color: $bs-primary-2;
				}

			}

			/* =====================
			   Menu list
			===================== */
			.menu-list {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 12px 48px;

				margin: 0;
				padding: 0;
				list-style: none;

				li {
					line-height: 1.6;
				}

				a {
					font-size: 16px;
					color: #000;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				.highlight {
					color: #ff4d00;
					font-weight: 600;
				}
			}

			.desktop-menu {
				@media (min-width: 992px) and (max-width: 1250px) {
					max-width: 75%;
				}

				#main-menu {
					@include media-breakpoint-up(lg) {
						column-gap: 12px;
					}
					@media (min-width: 1078px) {
						column-gap: 16px;
					}
				}
			}
			.sub-menu {
				background: $bs-primary;
				color: $bs-white;
				border: none;
				border-radius: 0;
				li {
					margin: 0 0;
					a {
						background-color: transparent;
						color: inherit;
						transition: background-color 0.3s ease, color 0.3s ease;

						&:hover {
							background-color: $bs-primary-2;
							//color: $bs-white;
						}
					}
				}
			}
		}
		.become-member {
			a {
				&.btn {
					text-transform: none;
				}
				@include media-breakpoint-between(lg,xl) {
					font-size: 14px;
				 }
				@include media-breakpoint-up(xl) {
					font-size: 15px;
				}
				@include media-breakpoint-up(xxl) {
					font-size: 16px;
				}
			}
		}
		@include media-breakpoint-up(xl) {
			min-height: 120px;
		}

		.navbar-toggler {
			background: $bs-dark;
		}

		.location-button {
			.bs-location-selector__trigger {
				.bs-location-selector__trigger-text {
					font-size: 14px;
					line-height: 16px;
					@include media-breakpoint-between(lg,xxl) {
						width: 92px;
					}
				}
			}

			@include media-breakpoint-up(lg) {
				padding: 6px 10px;
				color: $bs-white;
				border-radius: $border-radius-sm;

				.bs-location-selector__trigger {
					gap: 0;
				}
			}

			@include media-breakpoint-up(xl) {
				padding: 10px;
			}

			.bs-location-selector__trigger::before {
				mask: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C8.13 2 5 5.13 5 9C5 14.25 12 22 12 22C12 22 19 14.25 19 9C19 5.13 15.87 2 12 2ZM7 9C7 6.24 9.24 4 12 4C14.76 4 17 6.24 17 9C17 11.88 14.12 16.19 12 18.88C9.92 16.21 7 11.85 7 9Z" fill="%230D0D0B"/><path d="M12 11.5C13.3807 11.5 14.5 10.3807 14.5 9C14.5 7.61929 13.3807 6.5 12 6.5C10.6193 6.5 9.5 7.61929 9.5 9C9.5 10.3807 10.6193 11.5 12 11.5Z" fill="%230D0D0B"/></svg>');
			}
		}

		.header-right {
			column-gap: 10px;
			@include media-breakpoint-between(lg,xl) {
				column-gap: 6px;
			}
			@include media-breakpoint-up(xl) {
				column-gap: 12px;
			}
		}

		.cart-icon {
			display: flex;
			align-items: center;

			a {
				color: $bs-white;

				svg path {
					fill: currentColor;
				}
			}
		}

		.dashboard-link {
			a {
				color: $bs-white;
			}
		}

		#main-menu.nav {
			a {
				color: $bs-dark;
			}
		}

		.search-icon-mobile {
			a.search-button {
				color: $bs-dark;
			}

			a.search-button svg,
			a.search-button path {
				color: $bs-white;
				fill: $bs-dark;
			}
		}

		a.search-button {
			color: $bs-white;
		}

		@include media-breakpoint-down(lg) { // <992px
			#search-form {
				position: static;
				width: 100%;
				padding: 8px 0;
				background: #fff;
			}
			#search-form input[type="text"] {
				box-sizing: border-box;
				width: 100%;
			}
		}
	}

	.header-search-form {
		input[type=text] {
			background: $bs-white;
			border: 2px solid $bs-dark;
			&:focus {
				color: $bs-dark;
			}
		}
		.bs-ajax-search__item-title {
			color: $bs-dark;
			font-family: 'Prestige Elite Std';
		}
	}

	.logo {
		padding: 0 10px;

		a img {
			max-width: 160px;
			max-height: 48px;
			@include media-breakpoint-up(md) {
				max-height: 70px;

			}
			@include media-breakpoint-up(xl) {
				max-height: 80px;
			}
		}
	}

	.header-mid-mb {
		background: transparent;
		gap: 1rem;

		.mobile-menu {
			button.navbar-toggler {
				background-color: transparent;
				filter: invert(1);
				.navbar-toggler-icon {
					width: 24px;
					height: 24px;
					background-image: url('data:image/svg+xml,<svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12H18V10H0V12ZM0 7H18V5H0V7ZM0 0V2H18V0H0Z" fill="%230D0D0B"/></svg>');
				}
			}
		}

		.mobile-search-wrapper {
			.bs-search-field {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				margin-bottom: 0;

				.bs-search-field__input {
					width: 100%;
					padding-right: 45px;
					border-radius: 30px;
					height: 48px;
					background: $bs-white;
					border: 1px solid $bs-grey;
				}

				&::after {
					content: "";
					position: absolute;
					right: 15px;
					width: 20px;
					height: 20px;
					background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.7549 14.2549H14.9649L14.6849 13.9849C15.6649 12.8449 16.2549 11.3649 16.2549 9.75488C16.2549 6.16488 13.3449 3.25488 9.75488 3.25488C6.16488 3.25488 3.25488 6.16488 3.25488 9.75488C3.25488 13.3449 6.16488 16.2549 9.75488 16.2549C11.3649 16.2549 12.8449 15.6649 13.9849 14.6849L14.2549 14.9649V15.7549L19.2549 20.7449L20.7449 19.2549L15.7549 14.2549ZM9.75488 14.2549C7.26488 14.2549 5.25488 12.2449 5.25488 9.75488C5.25488 7.26488 7.26488 5.25488 9.75488 5.25488C12.2449 5.25488 14.2549 7.26488 14.2549 9.75488C14.2549 12.2449 12.2449 14.2549 9.75488 14.2549Z" fill="%230D0D0B"/></svg>');
					background-size: contain;
					background-repeat: no-repeat;
					pointer-events: none;
				}
			}
		}

		.custom-search-form .search-submit:hover .icon-search {
			color: #555;
		}
	}

	.header-bottom {
		padding-block: 8px;
		max-height: 40px;
		background: $bs-primary-2;
		@include media-breakpoint-up(lg) {
			//border-bottom: solid 2px $bs-dark;
			//border-top: solid 2px $bs-dark;
			background: $bs-dark;
			padding-block: 16px;
			max-height: 80px;
		}

		.desktop-menu .nav > li > a {
			@include media-breakpoint-up(lg) {
				color: $black;
				background: $bs-primary;
				color: $bs-dark;
				border: none;
				border: solid 2px $bs-primary-2;
				padding: 6px 4px;
				@include up(xl) {
					padding: 6px 12px;
				}

				&:hover {
					background: $bs-brown;
					color: $bs-white;
				}
			}
		}
		.desktop-menu .nav > li {
			ul.sub-menu {
				border: solid 2px $bs-dark;
				border-radius: 0;
				li > a {
					&:hover {
						background: $bs-secondary;
						color: $bs-dark;
					}
				}
			}
		}

		.bs-location-selector__trigger {
			.bs-location-selector__trigger-text {
				font-size: 14px;
				line-height: 16px;
			}
		}

		.sub-menu {
			background: $bs-primary;
			color: $bs-dark;
			border: none;
			border-radius: solid 2px $bs-dark;
			li {
				margin: 0 0;
				a {
					background-color: transparent;
					color: inherit;
					transition: background-color 0.3s ease, color 0.3s ease;

					&:hover {
						background-color: $bs-white;
						color: $bs-white;
					}
				}
			}
		}
	}

	#navbarNavDropdown {
		background: $bs-primary;
		color: $bs-white;
		#menu-header-second-menu a[href*="onsale"] {
			color: $bs-primary-2;
		}
		.mobile-menu-top {
			border-bottom: solid 2px $bs-dark;
			.menu-title {
				line-height: 40px;
			}
		}
		.btn-close {
			width: 20%;
			background-position: right 30px center;
			filter: invert(1);
		}
		.nav-dropdown li {
			margin-left: 0;
		}
		.nav-dropdown > li {
			margin-left: 0;
			margin-right: 0;
			a {
				color: $bs-dark;
				padding: 10px 0px;
			}
			&::before {
				right: 58%;
			}
			//border-bottom: solid 2px $bs-dark;
		}
	}
}
//.transparent-header {
//	background: linear-gradient(0deg, rgba(137, 177, 200, 0.2) -11.3%, #538EB0 93.99%);
//	//transition: background-color 0.5s ease, box-shadow 0.5s ease;
//	transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
//	.logo {
//		img {
//			transition: opacity 0.4s ease, visibility 0.4s ease;
//		}
//	}
//
//	.logo-light {
//		display: block;
//	}
//
//	.logo-dark {
//		display: none;
//	}
//
//	.header-top {
//		.header-left {
//			.desktop-menu {
//				.sub-menu {
//					border: none;
//					background: $primary;
//
//					li a:hover {
//						background: $black;
//					}
//				}
//			}
//		}
//
//		.location-button {
//			border-radius: $border-radius;
//			color: $bs-white;
//
//			.bs-location-selector__trigger {
//				.bs-location-selector__trigger-text {
//					font-size: 14px;
//					line-height: 16px;
//					@include media-breakpoint-between(lg,xxl) {
//						max-width: 92px;
//					}
//				}
//			}
//
//			padding: 10px;
//			border-radius: $border-radius-sm;
//
//			.bs-location-selector__trigger {
//				gap: 0;
//			}
//
//			.bs-location-selector__trigger::before {
//				mask: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C8.13 2 5 5.13 5 9C5 14.25 12 22 12 22C12 22 19 14.25 19 9C19 5.13 15.87 2 12 2ZM7 9C7 6.24 9.24 4 12 4C14.76 4 17 6.24 17 9C17 11.88 14.12 16.19 12 18.88C9.92 16.21 7 11.85 7 9Z" fill="%23ffffff"/><path d="M12 11.5C13.3807 11.5 14.5 10.3807 14.5 9C14.5 7.61929 13.3807 6.5 12 6.5C10.6193 6.5 9.5 7.61929 9.5 9C9.5 10.3807 10.6193 11.5 12 11.5Z" fill="%23ffffff"/></svg>');
//			}
//		}
//
//		#main-menu.nav a,
//		a.search-button {
//			color: $white;
//		}
//
//		.cart-icon {
//			a {
//				color: $white;
//
//				svg path {
//					fill: currentColor;
//				}
//			}
//		}
//
//		.dashboard-link {
//			a {
//				color: $white;
//			}
//		}
//
//	}
//	.header-mid-mb {
//		.mobile-menu {
//			button.navbar-toggler {
//				background-color: transparent;
//				.navbar-toggler-icon {
//					background-image: url('data:image/svg+xml,<svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12H18V10H0V12ZM0 7H18V5H0V7ZM0 0V2H18V0H0Z" fill="white"/></svg>');
//				}
//			}
//		}
//		.custom-search-form {
//			border: 1px solid $bs-grey;
//		}
//	}
//	.header-bottom {
//		color: $white;
//		border-bottom: solid 1px $white;
//		border-top: solid 1px $white;
//		background: transparent;
//
//		.desktop-menu .nav a {
//			color: $white;
//		}
//
//		.nav-bar .sub-menu {
//			background: $primary;
//
//			li a:hover {
//				background: $black;
//			}
//		}
//	}
//
//	// Trạng thái khi scroll: nền trắng, chữ tối
//	&.is-scrolled {
//		background: $bs-white;
//		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
//		border-bottom: none;
//		transition: background-color 0.3s ease, box-shadow 0.3s ease;
//
//		.logo-light {
//			display: none;
//		}
//
//		.logo-dark {
//			display: block;
//		}
//
//		.header-top {
//			.desktop-menu {
//				.sub-menu {
//					background: $white;
//
//					li a:hover {
//						background: $tertiary;
//					}
//				}
//			}
//
//			.location-button {
//				border-radius: $border-radius-sm;
//				color: $bs-white;
//			}
//
//			#main-menu.nav a,
//			a.search-button {
//				color: $bs-white;
//			}
//
//			.cart-icon {
//				a {
//					color: $bs-white;
//
//					svg path {
//						fill: currentColor;
//					}
//				}
//			}
//
//			.dashboard-link {
//				a {
//					color: $bs-white;
//				}
//			}
//		}
//		.header-mid-mb {
//			.mobile-menu {
//				button.navbar-toggler {
//					background-color: transparent;
//					.navbar-toggler-icon {
//						background-image: url('data:image/svg+xml,<svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12H18V10H0V12ZM0 7H18V5H0V7ZM0 0V2H18V0H0Z" fill="%230D0D0B"/></svg>');
//					}
//				}
//			}
//		}
//		.header-bottom {
//			border-bottom: none;
//			border-top: none;
//			background: $bs-primary;
//			@include media-breakpoint-up(lg) {
//				background: transparent;
//			}
//			.desktop-menu .nav a {
//				color: $bs-white;
//			}
//
//			.nav-bar .sub-menu {
//				background: $white;
//
//				li a:hover {
//					background: $tertiary;
//				}
//			}
//		}
//	}
//}
