.bs-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 1rem;
    > .post {
        padding: 24px;
        border-radius: 8px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        img {
            border-radius: 8px;
        }

        .posted-on {
            color: var(--Base-Grey, #6c6c6c);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
        .entry-header {
            align-self: stretch;
        }
        .entry-title {
            font-size: 20px;
            a {
                color: var(--Base-Black-Grey, #2c2c2c);
                font-size: 20px;
                font-weight: 700;
                line-height: 24px; /* 120% */
                text-decoration: none;
            }
        }
        .entry-content {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--Base-Grey, #6c6c6c);
        }
        .bs-read-more {
            color: var(--Base-Black, #0d0d0b);
            font-size: 20px;
            font-weight: 700;
            line-height: 24px; /* 120% */
            text-decoration: none;
            display: flex;
            column-gap: 12px;
            align-items: center;
            padding-block: 12px;
            transition: color 0.3s ease;
            &:hover {
                color: $primary;
            }
        }
    }
}
