div.wp-block-button {
    .wp-block-button__link.wp-element-button {
        background-color: $primary;
        border-radius: $border-radius;
        color: $white;
        font-weight: $font-weight-bold;
    }
}
