.location-box {
    .card {
        background-color: $gray-200;
        border-radius: $border-radius-xl;
        .card-img {
            border-radius: $border-radius-lg;
        }
        .card-body {
            .card-title {
                font-size: $h3-location-title;
            }
        }
    }
}

.contact-form {
    h2 {
        font-size: $h2-section-title;
    }
    .main-form {
        background-color: $primary;
        border-radius: $border-radius-xl;
        .wpcf7 {
            width: 100% !important;
            min-width: unset !important;
            max-width: unset !important;

            p {
                display: block;
                line-height: 16px;
                @include media-breakpoint-up(sm) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .cf7-honey {
                position: absolute !important;
                left: -9999px;
            }
        }
        .wpcf7-form-control.wpcf7-submit.has-spinner {
            color: $white;
            background-color: $black;
            transition: background-color 0.3s ease;
            width: auto;
            &:hover {
                background-color: $gray-600;
            }
        }
    }
}

.contact-map {
    h2 {
        font-size: $h2-section-title;
    }
}
