.show-coupon-link {
    text-decoration: none;
}
.coupon-form-modal-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    &.active {
        display: flex;
    }

    padding: 2em;
}
.coupon-form-modal {
    background: #fff;
    padding: 2em;
    border-radius: 10px;
    position: relative;
    min-width: 320px;
    max-width: 600px;

    #coupon_code.input-text {
        width: 100% !important;
        margin-bottom: 10px;
    }
}
.coupon-form-modal .close-modal {
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background: none;
}
