#search-form {
    display: none;
    &.active {
        display: block;
    }
}

header {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_17686_31686)'%3E%3Cpath d='M-4.5 16.5H22.5V14H-4.5V16.5ZM-4.5 10.25H22.5V7.75H-4.5V10.25ZM-4.5 1.5V4H22.5V1.5H-4.5Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_17686_31686'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.header-top {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    .header-left {
        margin-right: auto;
        flex: 1 1 0;
    }
    .logo {
        text-align: center;
    }
    .header-right {
        margin-left: auto;
        flex: 1 1 0;
        display: flex;
        justify-content: flex-end;
        column-gap: 16px;
    }
    .location-button {
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
    }
}
.header-bottom {
    background: $primary;
    padding-block: 16px;
    .location-button {
        color: $white;
        @media (min-width: 992px) {
            display: none;
        }
    }
}

.cart-icon {
    a {
        text-decoration: none;
        color: $black;
        position: relative;
    }
    [data-cart-count]:after {
        background-color: $primary;
        border-radius: 99px;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
        color: $white;
        content: attr(data-cart-count);
        font-size: 11px;
        font-style: normal;
        font-weight: bolder;
        height: 17px;
        letter-spacing: -0.5px;
        line-height: 17px;
        min-width: 17px;
        opacity: 0.9;
        padding-left: 2px;
        padding-right: 2px;
        position: absolute;
        right: -10px;
        text-align: center;
        top: -10px;
        transition: transform 0.2s;
        z-index: 1;
    }
}
