.section-hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 78px;
    text-align: center;
    color: $white;
    .breadcrumbs {
        font-size: 16px;
        line-height: 24px;
        nav,
        a {
            text-decoration: none;
            color: $white;
        }
    }
    h1 {
        font-size: 60px;
        line-height: 72px;
        font-weight: 700;
        text-transform: uppercase;
    }

    @media (max-width: 768px) {
        padding-block: 64px;
    }
}
