.bs-location-selector__trigger {
    border: none;
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    &:before {
        display: inline-block;
        content: '';
        mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2.16125C7.8 2.16125 4 5.38125 4 10.3613C4 13.5413 6.45 17.2813 11.34 21.5913C11.72 21.9213 12.29 21.9213 12.67 21.5913C17.55 17.2813 20 13.5413 20 10.3613C20 5.38125 16.2 2.16125 12 2.16125ZM12 12.1613C10.9 12.1613 10 11.2613 10 10.1613C10 9.06125 10.9 8.16125 12 8.16125C13.1 8.16125 14 9.06125 14 10.1613C14 11.2613 13.1 12.1613 12 12.1613Z' fill='%230D0D0B'/%3E%3C/svg%3E");
        background: currentcolor;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        width: 24px;
        height: 24px;
    }
}
