.bs-product-meta-pills {
    &__list {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 0;
        &:before {
            display: none !important;
        }
    }

    &__item {
        border-radius: 4px;
        background: $gray-200;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: var(--Main-1, #006f45);
        text-transform: uppercase;
        margin-bottom: 0;
        padding: 4px 12px;
        a {
            color: inherit;
        }

        &:hover a {
            text-decoration: underline !important;
        }

        @media (max-width: 768px) {
            font-size: 10px;
            padding: 1px 8px;
        }
    }
}
