nav.bs-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    .page-numbers {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        padding: 8px;
        background: none;
    }

    span.page-numbers {
        path {
            fill: #bfbfbf;
        }
    }

    .page-numbers__wrapper {
        display: flex;
        column-gap: 32px;
        border: none;
    }
}
