.woocommerce-checkout {
    h4 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .bs-checkout-section {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
        margin-bottom: 32px;
        &__title {
            flex: 0;
            @include media-breakpoint-up(lg) {
                flex: 0 0 260px;
            }
        }
    }

    .woocommerce-shipping-fields__field-wrapper {
        .form-row {
            min-width: 100%;
            @include media-breakpoint-up(lg) {
                min-width: 0px;
            }
        }
    }

    #ship-to {
        display: flex;
        .ship_to_options {
            list-style: none;
            display: flex;
            column-gap: 32px;
            padding-left: 16px;
            label {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }
        }
    }

    #ship-to-different-address,
    #shipping_country_field {
        display: none !important;
    }

    .woocommerce-billing-fields {
        margin-top: 32px;
    }

    .coupon-form-modal-overlay .woocommerce-form-coupon {
        display: block !important;
        border: none;
        padding: 0;
        margin: 0;
    }

    .select2-selection__clear {
        display: none;
    }
    .select2-container .select2-selection--single {
        height: 50px; /* Adjust the height as needed */
        line-height: 50px; /* Ensure the text is centered vertically */
    }
}

.continue-shopping {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    i {
        margin-right: 8px;
    }
}

.bs-black-card {
    padding: 12px;
    @include media-breakpoint-up(md) {
        padding: 24px;
    }
    border-radius: 8px;
    background: var(--Base-Black-Grey, #2c2c2c);
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #fff;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 0;
    }
    table {
        border: none !important;
        margin-bottom: 0 !important;
        border-collapse: collapse !important;
        th,
        td {
            padding: 16px 0 !important;
            border: none;
        }
    }
}

.order-summary {
    margin-bottom: 32px;
    #order_review {
        table.woocommerce-checkout-review-order-table {
            tfoot {
                th {
                    font-weight: 400;
                }
                td {
                    text-align: right;
                }
                th,
                td {
                    padding: 16px 0;
                    border: none;
                    border-top: 1px solid #fff;
                }
                tr:first-child {
                    th,
                    td {
                        border: none;
                        padding-top: 0;
                    }
                }
                .woocommerce-shipping-totals th h4 {
                    display: none;
                }
            }
        }
        .place-order {
            margin: 0;
        }
        #place_order {
            width: 100%;
            border-radius: 8px;
            background: var(--Main-1, #006f45);
            padding: 12px;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 12px;
        }
    }

    .show-coupon {
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        a {
            color: #fff;
        }
    }
}

.order-detail {
    .bs-black-card__edit-cart {
        color: #fff;
        font-size: 12px;
        line-height: 16px;
    }
    table.woocommerce-checkout-order-detail-table {
        font-weight: 700;
        .product-thumbnail {
            min-width: 80px;
        }
        .product-thumbnail img {
            width: 80px;
        }
        .product-quantity {
            min-width: 0 !important;
        }
        .product-name,
        .product-quantity {
            padding-inline: 12px !important;
        }
        .product-total {
            padding-left: 12px !important;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

/* Tip Values */
.wpcot-tip-values span {
    color: #000 !important;
}

/* Payfirma */
.payment_method_breadstack-merrco-payfirma {
    input[type='text'],
    select {
        width: 100% !important;
        padding-inline: 0.5em;
    }
    select {
        background: #fff !important;
        appearance: auto !important;
    }
    .arrow_wrapper {
        display: none;
    }
    .form-row {
        margin: 0 !important;
        padding: 0 !important;
    }
    #bs_mr_pf_cc_num_wrapper {
        padding: 1em !important;
    }
}

.checkout-sidebar {
    button {
        min-width: 0;
    }
}
