@font-face {
	font-family: 'Vintage';
	src: url('../../assets/fonts/Vintage.woff2') format('woff2'),
	url('../../assets/fonts/Vintage.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Prestige Elite Std';
	src: url('../../assets/fonts/PrestigeEliteStd-Bd.woff2') format('woff2'),
	url('../../assets/fonts/PrestigeEliteStd-Bd.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
